:root
{
    font-size: 1em;
    line-height: 1.6;
}

/* -- A -- */
a
{
    border: 1px solid grey;
    border-radius: 9px;
    padding: 9px;
    margin: 3px
}

a:hover
{
    background-color: hsl(30, 82%, 58%);
    color: white
}

/* -- B -- */

/* -- C -- */
#copyright
{
    color: rgb(24, 129, 24)
}

/* -- D -- */
dialog
{
    box-shadow: 1px 1px 10px black;
    position: absolute;
    bottom: 20px;
    width: 400px;
    height: 225px;
    border: none;
    border-radius: 3px;
    background-color: rgba(255, 255, 255);
    font-size: 1.1rem;
    overflow-x: scroll
}

dialog::before,
dialog::after
{
    content: "";
    position: absolute;
    top: 80%;
    bottom: 1px;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, .7);
    z-index: -1;
}

dialog::before
{
    background-color: blue;
    left: 5px;
    right: 45px;
    transform: rotate(-3deg);
}

dialog::after
{
    background-color: red;
    left: 45px;
    right: 5px;
    transform: rotate(3deg);
}

/* -- E -- */
/* #extendedCorporationInformation
{
    display: none;
} */

/* -- F -- */
#form-group-kbis
{
    display: none;
}

.funShadow
{
    box-shadow: 25px 1px 40px 3px rgb(92, 92, 92)
}

/* -- G -- */

/* -- H -- */

/* -- I -- */
.input-group-text
{
    min-width: 170px;
}

/* -- J -- */

/* -- K-- */

/* -- L -- */

/* -- M -- */
#mainTitle
{
    color: hsl(30, 100%, 50%);
    /* color: rgb(224, 152, 17); */
    font-family: 'Indie Flower', cursive
}

/* -- N -- */

/* -- O -- */
/* .outCpy
{
    text-align: center;
    color: "#00FF7F";
} */

/* -- P -- */
p.all_Pouts
{
    font-size: 1.2rem;
}

/* -- Q -- */

/* -- R -- */

/* -- S -- */

/* -- T -- */

/* -- U -- */

/* -- V -- */

/* -- W -- */

/* -- X -- */

/* -- Y -- */

/* -- Z -- */
