#generateButton
{
    color: #0000ad;
}

/* .outCpy
{
    text-align: center;
    color: "#00FF7F";
} */

/* #extendedCorporationInformation
{
    display: none;
} */

#form-group-kbis
{
    display: none;
}

#mainTitle
{
    color: hsl(30, 100%, 50%);
    /* color: rgb(224, 152, 17); */
    font-family: 'Indie Flower', cursive
}

#copyright
{
    color: rgb(24, 129, 24)
}

li
{
    display: inline;
    margin-right: 10px
}

a
{
    border: 1px solid grey;
    border-radius: 9px;
    padding: 9px
}

a:hover
{
    background-color: hsl(30, 82%, 58%);
    color: white
}

p.all_Pouts
{
    font-size: 1.2rem;
}
