#generateButton
{
    color: #000060;
}

/* .outCpy
{
    text-align: center;
    color: "#00FF7F";
} */

/* #extendedCorporationInformation
{
    display: none;
} */

#form-group-kbis
{
    display: none;
}

#mainTitle
{
    color: rgb(224, 152, 17);
    font-family: 'Indie Flower', cursive;
}

#copyright
{
    color: rgb(24, 129, 24);
}